SUBSYSTEM=="input", KERNEL=="event[0-9]*", ATTRS{idVendor}=="046d", ATTRS{idProduct}=="c294", ACTION=="add", RUN+="/usr/bin/ltwheelconf --wheel G27 --nativemode --range 900"
